.Chat-main
  .header
    .Chat-group
      .Chat-group__name
        = @group.name
      %ul.Chat-group__member-list 
        Member：
        - @group.users.each do |user|
          %li.Chat-group__member-list__name
            = user.name
    .Edit-button
      = link_to edit_group_path(@group), class: "Edit-button__text" do
        Edit

  .messages
    = render partial: 'message', collection: @messages

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .Message-box
        = f.text_field :body, class: 'Message-box__text', placeholder: 'type a message'
        = f.label :image, class: 'Message-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Message-box__image__file'
      = f.submit 'Send', class: 'send-btn'
