.sideBar

  .sideBar-header
    .User-info
      .User-info__name
        = current_user.name
      .User-info__icons
        =link_to new_group_path, class: "User-info__icons__edit-btn" do
          = icon('far', 'edit')
        =link_to edit_user_path(current_user), class: "User-info__icons__config-btn" do
          = icon('fas', 'cog')

  .sideBar-main
    - current_user.groups.each do |group|
      .Group
      = link_to group_messages_path(group), class: "Group__Info" do
        .Group__Info__name
          = group.name
        .Group__Info__message
          = group.show_last_message